
// .farm {
//   max-width: 1440px;
//   height: 282px;
//   margin: 0 auto;
//   margin-bottom: 24px;
// }
.homeSwiper .swiper {
  width: 100%;
  height: 100%;
}

.homeSwiper .swiper-slide {
  width: 378px; /* 设置幻灯片的最小宽度 */
  & img {
    width: 378px;
    height: 282px;
    object-fit: cover;
  }
}
.homeSwiper .swiper-wrapper{
  transition-timing-function : linear;
}

